apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: analyzer-webhook
webhooks:
  - name: analyzer.guardian.dev
    clientConfig:
      service:
        name: analyzer-webhook
        namespace: default
        path: /validate
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUMxakNDQWI2Z0F3SUJBZ0lRVTU1cDc1c2QrNlpUR0F2aHhJb3NhakFOQmdrcWhraUc5dzBCQVFzRkFEQUEKTUI0WERUSTFNVEV4TWpJd01qQXhPVm9YRFRJMk1URXhNakl3TWpBeE9Wb3dBRENDQVNJd0RRWUpLb1pJaHZjTgpBUUVCQlFBRGdnRVBBRENDQVFvQ2dnRUJBT0c2KzJobWg1ZWFodVZ2eHVvK2k2ZFljK0V1LzZVaVhXWUNMWlFiCkVKNmZJYTRmUkpXak1CeTYxSlZlb3FheVJ1VGxuK1hQUUIzVVpTM2ZSdmJTRzBtbU43MWI4NXkrVkFRTkN0QUYKMlVRcUNZUGthcXlTd0tUU1ZkNjNGaXp6a21RN3NMVTlNejRLZWZUaCt0UjFoMzJISW5uc2I5RHBScE1meGlCZQp0d1hYSVAxWWZKUFJCSG8xd2hQSTJvUktSR3YrUkZqQXcwYTUxbG9xTjMwVi9zWDNzeHYxNEdWRFJxZDVLejFQCitUK0pjUitBeVFHdkJoV1JTSGxoUjRIVXBsT05VSUU4Tmx6VGw4a1VoZEZTNmVDUitjTWlEUXA0THl2UVZqOEMKZEhYdDdick9rVXg1UXJscStmZjhWQnVwZ2xNQmxYRDAzdWRHcnJ3aTBQOUFqdThDQXdFQUFhTk1NRW93RGdZRApWUjBQQVFIL0JBUURBZ1dnTUF3R0ExVWRFd0VCL3dRQ01BQXdLZ1lEVlIwUkFRSC9CQ0F3SG9JY1lXNWhiSGw2ClpYSXRkMlZpYUc5dmF5NWtaV1poZFd4MExuTjJZekFOQmdrcWhraUc5dzBCQVFzRkFBT0NBUUVBaWV4Nnp0cTIKT21NQm1qZVBmTmQxbTQrYzdVelY0TStKQUhydyszSFVFT2ZVcjlnWElmdVRnYzYxbVc1Z1hxTDMxVm9PeStJOQo1Z3diY1hNVCtwR01nMGtsWnFJR0IxbitmMThpUHBGajJucDlOeXQvVHowVkRHZ1VyVFovdHEvdlEvVVpxRUwwCitERmNZRmVrdHNJakVDc0dNRDUxZXBVYTdtZWJ4R1k4TCt5RHpCWE1YQUFpWlBlMHd4UDNOWllVWFRhUE50N0YKY1cvZU9DcU5JZFVhZGVyU0RqN0JtWmxwRDdRN2cvVDRTSEZpclJ6am1hSVptUnBLNTZxZVVKL0VNQm9TSTRSMgpWeFZNS1VUYks3NlQ1bmVoVzY4bEFGV01DS1Y0b1NrMlljT2FBekVVRUhUcDhQMTM4K1dBN0RTVUJOUzFIeGM3Ck4xSnRrMlZqSit6cFFBPT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=% 
    rules:
      - operations: ["CREATE","UPDATE"]
        apiGroups: ["", "apps", "batch"]
        apiVersions: ["v1"]
        resources: ["pods","deployments","jobs"]
    failurePolicy: Fail
    sideEffects: None
    admissionReviewVersions: ["v1"]
