apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: k8s-yaml-analyzer-webhook
webhooks:
  - name: analyzer.k8s-yaml-analyzer.dev
    admissionReviewVersions: ["v1"]
    sideEffects: None
    failurePolicy: Fail
    timeoutSeconds: 5
    rules:
      - apiGroups: [""]
        apiVersions: ["v1"]
        operations: ["CREATE", "UPDATE"]
        resources: ["pods"]
    clientConfig:
      service:
        namespace: default
        name: analyzer-webhook
        path: "/validate"
        port: 8443
      caBundle: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUREekNDQWZlZ0F3SUJBZ0lVYjVCaUlLMG14dlhiRTVOT0V3WE5LMHdPaXpBd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0Z6RVZNQk1HQTFVRUF3d01RV1J0YVhOemFXOXVJRU5CTUI0WERUSTFNVEV4TXpFNE5UVTBObG9YRFRJMgpNVEV4TXpFNE5UVTBObG93RnpFVk1CTUdBMVVFQXd3TVFXUnRhWE56YVc5dUlFTkJNSUlCSWpBTkJna3Foa2lHCjl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUF6Z0QwNGJIK1RLSnl6T2pJTGY1ai9laktHSklMMFdkNnRkbFEKWFRiLzBkZlFtOGlEUnVMTTNOd3d5Z2M4RjMzU01PTlRQb2xDWFQ0cW9yODk4bW95T3A5ZHdmZVM3TFpiRzMzegpuWnhjZEYvUlF5UnNnaE5GNWhiN1J6M2c1UndXZFZpQ2RkUHBNRWVtaDJRR1gwZ1duZFpZVUZWWElMeGdVSVNsCm5xUkVVd1JRUHJVYmJaVTRkemlYY2VEajk5cjh5Yll3cW1aNDRqcGpOZ3F5M1NXZUdldXlxUDdoY1UyMS9HMEcKS0N1K1pFYmk3YWJudnZKNC9iNGpINE5FclRDZm9lYTVwUU5DK3AzN2dlQmlVSUFRd1MyQW5HUGRpVUdOYVQ4SQphbWJTWk9XSklXVTJCSnJLN0laYTdRaFpjc2ZCdEVrcHpQVVZFTU54TlFSUnFyVUlpd0lEQVFBQm8xTXdVVEFkCkJnTlZIUTRFRmdRVWpqUEYxK056OEoxZHZ1TjBIbk9RY0MwTjBsUXdId1lEVlIwakJCZ3dGb0FVampQRjErTnoKOEoxZHZ1TjBIbk9RY0MwTjBsUXdEd1lEVlIwVEFRSC9CQVV3QXdFQi96QU5CZ2txaGtpRzl3MEJBUXNGQUFPQwpBUUVBRE9xUjBYTXEzcFRiZWduTldDOHR3WGtuWVMzaTg0TjZTNG9vV3R3bWcvKzdpV1ZuMHZzM0Qrc1VvRHVqCitTTFF3YlVadnFuazRFNUZOaU5nWEp4TVVoeFliK0IybFZmTEZQcGEzVWJVcm5ub01MNmNHZUQ2QjcrdWtzem0KVlR0TENVUUJUVVY0UWQ5TWJIQUxGMGcxMVFUZzVQbzZUMitvUlFCMGxvVXNUUlRJNkczaTdFTGlraXpBN1NEOApMWml5QndpUXRVc3p6eUQwLy9IYVg1UHZaamxnMEY1dElnSlpxZ2Uwbzk5M1J4ME85NFlGWU5uQXNpZ0psV3VxCjE2Skk3U0VENGU4ZlJ3cDBGQTAzamoyb3NYbzAzL0RDK3NkODN0WXZGM0dROVEybFhUZmV2QjRaT0JTbkhZQkcKaHJkb0NVNjlSbUJObVhscFplbERMZXQwb0E9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg=="
    objectSelector:
      matchExpressions:
      - key: app
        operator: NotIn
        values: ["analyzer-webhook"]
