name: Build & Push Images to GHCR

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  backend:
    name: Build & Push Backend Image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build backend image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/k8s-yaml-analyzer-backend:latest backend

      - name: Push backend image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/k8s-yaml-analyzer-backend:latest

  frontend:
    name: Build & Push Frontend Image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build frontend image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/k8s-yaml-analyzer-frontend:latest frontend

      - name: Push frontend image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/k8s-yaml-analyzer-frontend:latest
